* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #eee;
}

.contain {
  width: 100%;
}

.search {
  margin: 1.5rem 0.5rem;
}
.video {
  width: 65%;
  float: left;
  margin: 0.5rem;
}
.video-list {
  margin: 0.5rem;
  width: 30%;
  float: right;
  background-color: white;
  padding: 10px;
}
.content .header {
  font-weight: 400;
  font-size: 0.9rem;
}
.field label {
  font-size: 18px !important;
}
@media only screen and (max-width: 1000px) {
  .video {
    width: 100%;
    float: left;
    margin: 0.5rem;
  }
  .video-list {
    margin: 0.5rem;
    width: 100%;
    float: left;
  }
  .search {
    width: 100%;
  }
}
